.bold
{
	color:navy;
	font-size:30px;
}
placeholder
{
padding-left:80px;	
}
section
{
	width:100%;
	min-height:100vh;
	display:flex;
	
}
#Home
{
	background:url(https://lh3.googleusercontent.com/p/AF1QipPxjluvYBteXfN0gMss2KsbGs8PUIYNIEuJ7viS=w1080-h608-p-no-v0);
    background-size:cover;
	background-position:center;
	
}
#Home  h1
{
	padding-left:30px;
	color:white;
}
.card img
{
	height:250px;
}
#Categories
{
	background:Lavender;
}
#Categories h1
{
	letter-spacing:1px;
	font-weight:700;
}
.card
{
	box-shadow:15px 20px 20px rbga(0,0,0,.3),inset 4px 4px 10px white;
	border-radius:20px;
	overflow:hidden;
	align-items:center;
	margin:10px 10px;
}
#Mobiles
{
	background:url(https://img.freepik.com/free-photo/studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product-plain-studio-background_1258-63925.jpg?w=2000) ;
    background-position:center;
	background-size:cover;
}
#Mobiles h1
{
	color:black;
}

#Mobiles .card img
{
	height:250px;
}
#Cart .card img
{
	height:200px;
	

}

#Cart h2
{
	color:Blue;
}
#Cart
{
	background:url(https://media.gettyimages.com/id/157506205/photo/backlit-shopping-cart-basket-business-retail-e-commerce-shop-wagon-store.jpg?s=612x612&w=0&k=20&c=YScU3qmn7oXEtuYngRqBflP_gOo6pwgfVn5Ty8RVGiI=);
	background-position:center;
	background-size:cover;
	
}

#Cart .card
{
	width:400px;
	margin-left: 100px;
	background-color: transparent;
	box-shadow: 3px 3px 3px 3px  black;


}
#Sign in for{
	padding-left:30px;
}
#Cart a
{
	text-decoration: none;
	color: white;
}